{% extends 'base.html' %}

{% block title %}
     All Tweets | {{block.super}}
{% endblock %}

{% block content %}
    {% include "tweets/search_form.html" %} <br>
    
    {% for object in object_list %}
        <p>
            {{ object.content }} <br>
            {{ object.user }} <br>
            {{ object.time_stamp }} <br>
            {{ object.time_stamp|timesince }} ago<br>
        </p>
    {% empty %}
        {% if qs is empty %}
            <p>No tweets found</p> 
        {% else %}
            <p>No tweets yet</p> 
        {% endif %}
    {% endfor %}

{% endblock %}